extends layout

block content
  h1= title
  p Welcome to #{title}

  form(action='/' method="post" class="drop-zone" id="dropForm")
    input(type="file"
    accept="image/png, image/jpeg,"
    id="media"
    name="media"
    class="drag-drop drag-drop-btn"
    multiple oninput="dropHandler()")

    label(for="media" class="drag-drop drag-drop-field") drop files here or click to open folder


  a(href="/users") Users
